/* Set the size of the div element that contains the map */
@media screen and (max-width: 1200px){
  #map_canvas{
    position: absolute;
    height: 50%;
    /* The height is 400 pixels */
    width: 80%;
    margin: 10px 10%;
  }  
}

@media screen and (min-width: 1200px){
  #map_canvas {
    position: relative;
    height: 80%;
    /* The height is 400 pixels */
    width: 80%;
    /* The width is the width of the web page */
    border-radius: 15px;
    /* border-bottom-left-radius: 40px; */
    margin-right: 75px;
    margin-left: 75px;
    margin-top: 30px; 
  }
}
